@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@600&display=swap');

.mytitle{
    background-color: black;
    width: 100%;
    height: 250px;
    background-image:linear-gradient(0deg,rgba(0,0,0,0.5),rgba(0,0,0,0.5)) url("https://plus.unsplash.com/premium_photo-1674289121489-ed392912a753?auto=format&fit=crop&q=60&w=700&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHw1fHx8ZW58MHx8fHx8");
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mytitle > button {
    width: 200px;
    height: 50px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 50px;
}

.mytitle > button:hover{
    border: 10px solid white;
}

.mytitle h1{
    font-family: 'Courier New', Courier, monospace;
}
