@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@1,700&display=swap');


.mytitle{
    width:100%;
    height: 250px;

    background-image:linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('walpaper.jpg') ;
    background-position: center;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.mytitle>button{
    width: 200px;
    height: 50px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 50px;
    margin-top: 10px;
}

.mytitle>button:hover{
    border: 5px solid white;
}

.mytitle h1{
    font-family: 'Cabin', sans-serif;
}

.mycards{
    margin: 20px auto 0px auto;
    width: 95%;
    
    max-width: 1200px;
}

.comment{
    color: gray;
    font-weight: 400;
    font-style: italic;
}
